:root {
    --gold: #A77B53;
    --white: #FFFFFF;
    --brown: #7B5C40;
    --darkbrown: #2F2217;
    --black: #000000;
}
body {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-size: 22px;
    background-color: var(--black);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.header-nuv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 92px;
    padding-bottom: 41px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    padding-right: 261px;
}
li:last-child {
    padding-right: 0px;
}

nav a {
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
}
.hr {
    border: 1px solid;
    color: var(--darkbrown);
    width: 1664px;
    margin: 0 auto;
}
.block-1-h1{
    font-size: 48px;
    color: var(--gold);
    padding-top: 120px;
}
.block-1-cards {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 276px 276px 276px;
    grid-column-gap: 201px;
    grid-row-gap: 34px;
    padding-left: 126px;
}
.card {
    border: 2px solid var(--brown);
    border-radius: 30px;
}
.photo {
    padding-top: 30px;
    padding-left: 88px;
}
.card p {
    padding-top: 13px;
    color: var(--white);
    padding-left: 91px;
    padding-bottom: 13px;
}
.button{
    margin-left: 59px;
    margin-bottom: 30px;
    padding: 9px 9px 9px 9px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 158px;
    text-align: center;
    background-color: var(--gold);
}
.button a{
    color: var(--white);
    font-size: 16px;
}
.footer{
    margin-top: 120px;
    background-image: url(/img/footer.png);
    background-repeat:no-repeat;
    background-size: cover;
}
.wrapper-footer{
    display: grid;
    grid-template-columns: 310px 374px;
    gap: 816px;
}
.logo-footer {
    padding-top: 57px;
}
.left-footer p{
    padding-top: 15px;
    padding-bottom: 4px;
    color: var(--white); 
}
.left-footer a{
    color: var(--white); 
    padding-bottom: 104px;
}
.nav-footer {
    padding-top: 77px;
    padding-bottom: 44px;
}
.nav-footer li{
    padding-right: 22px;
}
.nav-footer li:last-child {
    padding-right: 0px;
}
.nav-footer a {
    font-size: 22px;
    color: var(--white);
}
.icon {
    padding-left: 256px;
    padding-bottom: 104px;
}
.icon a{
    padding-right: 15px;

}
.icon a:last-child {
    padding-left: 0px;
    padding-right: 0px;
}